CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Temporary add the User Preset file
# CMakeUserPresets.json

# build directory
build/

# Output directory
bin/

# VCPKG installed folder
vcpkg_installed/
